*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generale */


/* ID */

/* Classi */
.products-container{
    width: 920px;
    margin: 0 auto;
}
.products{
    width: calc(100% / 3 - 13px);
    display: inline-block;
}
.products img{
    max-width: 100%;
    display: block;
}
.products .hover,
.products:hover .normal{
    display: none;
}
.products:hover .hover{
    display: block;
}
.products-favorites{
    background-color: #fff;
    padding: 5px 15px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
}
.products-favorites:hover{
    background-color: #ff0000;
    color: #fff;
}
.products-badge-container{
    position: absolute;
    bottom: 0px;
    display:block;
}
.products-badge{ 
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.products-badge01{
    background-color: #008000;
}
.products-badge02{
    background-color: #ff0000;
}
.products-image-container{
    position: relative;
}
.products-text .small{
    font-size: 13px;
}
.products-text .small:last-child{
    color: #ff0000;
    font-weight: bold;
}
.products-text .small:last-child del{
    color: #000;
    font-weight: normal;

}
.text-transform{
    text-align: uppercase;
}