*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generale */


/* ID */

/* Classi */
.products-container{
    width: 920px;
    margin: 0 auto;
}
.products{
    width: calc(100% / 3);
    position: relative;
}
.products img{
    max-width: 100%;
}
.products .hover,
.products:hover .normal{
    display: none;
}
.products:hover .hover{
    display:block;
}
.products-favorites{
    background-color: #fff;
    padding: 5px 15px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
}
.badge{
    position: absolute;
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    bottom: 0px;
}
.badge01{
    background-color: #008000;
}
.badge02{
    background-color: #ff0000;
}